.landing-child20 {
    position: absolute;
    top: 481px;
    left: 433px;
    width: 45%;
    height: 96.31px;
    object-fit: cover;
}
.enterNo {
    resize:none ;
    position: absolute;
    top: -1px;
    font-size: 14px;
    color: #333;
    outline: none;
    left: -1px;
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    border: 2px dashed var(--color-black);
    box-sizing: border-box;
    width: 313px;
    height: 60px;
}
.submitNo {
    position: absolute;
    top: 0;
    left: 330px;
    font-size: large;
    border-radius: var(--br-5xs);
    background-color: transparent;
    letter-spacing: -0.39px;
    display: inline-block;
    width: 199px;
    height: 57px;
}
